/* ==========================================================================
   Buttons
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Declarations
 *  2. General
 *  3. Button Group
 *  4. Disabled Buttons
 *  5. Social Buttons
 *  6. Available Buttons
 *  7. Share Buttons
 */

/*********************
  1. Declarations
**********************/
$button-border-width: 2px;
$button-padding: 8px 14px;

$button-group-margin: 10px;

$social-buttons-size: 30px;

$available-button-height: 45px;
$available-button-margin: 7px;

$share-button-border-radius: 4px;
$share-button-font-size: 13px;
$share-button-height: 28px;
$share-button-padding: 0 6px;
$share-button-margin-right: 5px;

/*********************
  2. General
**********************/
.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $button-padding;
    color: $button-default-text-color;
    font-weight: 600;
    white-space: nowrap;
    border: $button-border-width solid $button-default-background-color;
    border-radius: 5px;
    background-color: $button-default-background-color;
    cursor: pointer;
    @include transition(all 0.3s);

    &.active,
    &:active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    &:focus,
    &:active:focus,
    &.active:focus {
        outline: none;
    }

    &:hover,
    &:active,
    &.hover,
    &.active {
        color: $button-default-background-color;
        background-color: transparent;
    }

    i:first-child {
        margin-right: 5px;
    }

    i:last-child {
        margin-left: 5px;
    }

    &.btn-transparent {

        color: $button-default-background-color;
        background-color: transparent;

        &:hover,
        &:active,
        &.hover,
        &.active {
            background-color: $button-default-background-color;
            color: $button-default-text-color;
        }
    }
}

/*********************
  3. Button Group
**********************/
.btn-group {
    margin: $button-group-margin;
    display: flex;
    justify-content: flex-end;
}

/*********************
  4. Disabled Buttons
**********************/
.btn:disabled {
    background: $button-disabled-background-color;
    border-color: $button-disabled-background-color;
    cursor: not-allowed;
    color: $button-disabled-text-color;
}

/*********************
  5. Social Buttons
**********************/
.social-buttons {

    li {
        margin: 0 2px;
        float: left;

        a {
            @include transition(all 0.2s ease);
            background: $white-smooth;
            border-radius: 100%;
            display: block;
            height: $social-buttons-size;
            line-height: $social-buttons-size;
            width: $social-buttons-size;
            text-align: center;
            color: $social-buttons-text-color;
            text-decoration: none;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }

        &.facebook a:hover {
            background: $facebook-color;
            color: $social-buttons-hover-text-color;
        }

        &.twitter a:hover {
            background: $twitter-color;
            color: $social-buttons-hover-text-color;
        }

        &.youtube a:hover {
            background: $youtube-color;
            color: $social-buttons-hover-text-color;
        }

        &.instagram a:hover {
            background: $instagram-color;
            color: $social-buttons-hover-text-color;
        }

        &.linkedin a:hover {
            background: $linkedin-color;
            color: $social-buttons-hover-text-color;
        }

        &.github a:hover {
            background: $github-color;
            color: $social-buttons-hover-text-color;
        }

        &.url a:hover {
            background: $website-color;
            color: $social-buttons-hover-text-color;
        }
    }
}

/*********************
  6. Available Buttons
**********************/
.available_button {
    display: inline-block;
    height: $available-button-height;
    overflow: hidden;
    margin: $available-button-margin;
    border-radius: 10px;

    &:first-of-type {
        margin-left: 0;
    }

    img {
        height: 100%;
    }
}

/*********************
  7. Share Buttons
**********************/
.share-buttons {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;

    .btn {
        border: none;
        color: $white;
        border-radius: $share-button-border-radius;
        font-size: $share-button-font-size;
        height: $share-button-height;
        padding: $share-button-padding;
        margin-right: $share-button-margin-right;

        &.twitter {
            background-color: $twitter-color;

            &:hover {
                background-color: $twitter-hover-color !important;
            }
        }

        &.facebook {
            background-color: $facebook-color;

            &:hover {
                background-color: $facebook-hover-color !important;
            }
        }

        &.whatsapp {
            background-color: $whatsapp-color;

            &:hover {
                background-color: $whatsapp-hover-color !important;
            }
        }
    }
}