/* ==========================================================================
   Panels
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Declarations
 *  2. General
 */

/*********************
  1. Declarations
**********************/
$panel-heading-padding: 18px;
$panel-content-padding: 25px;

$panel-buttons-button-padding: 10px 15px;

$panel-title-size: 20px;

$panel-subtitle-size: 12px;

$panel-featured-border-width: 3px;

$panel-border-radius: 5px;

/*********************
  2. General
**********************/
.panel {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    position: relative;
    margin: 0;

    @each $side in top, right, bottom, left {
        &.panel-#{nth($side,1)} .content {
            border-#{nth($side,1)}: $panel-featured-border-width solid $panel-title-color;
        }
    }

    @each $color in $colors-list {
        &.panel-#{nth($color,1)} {
            .content {
                border-color: #{nth($color,2)};
            }

            .panel-title {
                color: #{nth($color,2)};
            }
        }
    }

    &.collapsed {
        .content, .buttons {
            display: none;
        }
    }

    .heading {
        background: $panel-heading-background-color;
        border-radius: $panel-border-radius $panel-border-radius 0 0;
        border-bottom: 1px solid #DADADA;
        padding: $panel-heading-padding;
        position: relative;

        // Colored
        @each $color in $colors-list {
            &.bg-#{nth($color,1)} {
                background: #{nth($color,2)};
                color: #{nth($color,3)};
                border-bottom: 0 none;
                border-right: 0 none;
            }
        }

        + .content {
            border-radius: 0 0 $panel-border-radius $panel-border-radius;
        }

        .cover {
            width: 100%;
            height: 100%;
            background-size: cover;
            position: absolute;
            opacity: 0.8;
            border-radius: $panel-border-radius $panel-border-radius 0 0;
            margin: -$panel-heading-padding;
        }

        .title {
            color: $panel-title-color;
            font-size: $panel-title-size;
            font-weight: $font-weight-normal;
            line-height: $panel-title-size;
            padding: 0;
            margin: 0;
            text-transform: none;
        }

        .subtitle {
            color: $panel-subtitle-color;
            font-size: $panel-subtitle-size;
            line-height: 1.2em;
            margin: 7px 0 0;
            padding: 0;
        }

        .actions {
            right: $panel-heading-padding;
            position: absolute;
            top: $panel-heading-padding;

            > * {
                &:hover {
                    color: $panel-title-color;
                }
            }
        }

    }

    .content {
        background: $panel-content-background-color;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        border-radius: $panel-border-radius;
        padding: $panel-content-padding;

        @each $color in $colors-list {
            &.bg-#{nth($color,1)} {
                background: #{nth($color,2)};
                color: #{nth($color,3)};
            }
        }
    }

    .buttons {
        border-radius: 0 0 $panel-border-radius $panel-border-radius;
        margin-top: -$panel-border-radius;
        background: $panel-content-background-color;
        border-top: 1px solid $panel-buttons-border-color;

        .btn-group {
            display: flex;
            padding: 0;
            justify-content: space-around;

            a {
                flex: 1;
                border-right: 1px solid $panel-buttons-border-color;
                padding: $panel-buttons-button-padding;
                text-decoration: none;

                &:hover {
                    background-color: $white-smooth;
                    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) inset;
                }

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}

.action-toggle,
.action-dismiss {
    cursor: pointer;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.action-toggle {
    &:before {
        content: "\f0d7";
    }
}

.panel.collapsed .action-toggle {
    &:before {
        content: "\f0d8";
    }
}

.action-dismiss {
    &:before {
        content: "\f00d";
    }
}

